<div class="row" id="title-logo">
	<div class="col-md-12">
		<img src="../../assets/logos/orange-logo.png">
	</div>
</div>

<div class="row" id="slideshow">
	<div class="col-md-12">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%=image_tag("slideshow/oranges-1.jpg") %>
		    </div>
		    <div class="item">
		      <%=image_tag("slideshow/oranges-2.jpg") %>
		    </div>
		    <div class="item">
		      <%=image_tag("slideshow/oranges-3.jpg") %>
		    </div>
		    <!--
		    <div class="item">
		      <%=image_tag("slideshow/oranges-4.jpg") %>
		    </div>
		    -->
		  </div>
		</div>	
	</div>
</div>

<div class="row" id="content">
	<div class="col-md-4">
		<h2>View Inventory</h2>
	</div>
	<div class="col-md-4">
		<h2>Make a Reservation</h2>
	</div>
	<div class="col-md-4">
		<h2>FAQ</h2>
	</div>
</div>

<div class="row" id="about">
	<div class="col-md-12">
		<h2>About Rent-An-Orange</h2>
		<hr>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet nibh in suscipit tristique. Curabitur mollis eros id purus vestibulum, hendrerit porta dui placerat. Pellentesque ut volutpat justo. Proin a ultricies sem. Phasellus vel posuere metus, nec scelerisque sapien. Integer eget porta erat. Etiam sed eros bibendum, porttitor elit eget, tincidunt quam. Etiam eu odio scelerisque turpis feugiat pellentesque eu elementum enim. Praesent dictum scelerisque justo, in lobortis ante sodales sit amet. In fermentum lacinia diam, nec ultrices elit. Vestibulum ac ultricies lacus, a fringilla lorem. Donec tincidunt ex posuere consequat pellentesque. Nullam scelerisque vitae ligula sed commodo. Praesent ornare, diam eu malesuada volutpat, nisi lectus egestas enim, et suscipit nisi lacus vel nisl.
		</p>
		<p>
			Aliquam metus orci, tempor sed lacinia ut, venenatis et mauris. Aliquam pellentesque fermentum quam vel gravida. Phasellus scelerisque sem sapien. Nam risus dui, venenatis ac consectetur sed, iaculis ut diam. Maecenas sem eros, lobortis eu sagittis et, interdum tincidunt leo. Suspendisse vehicula lorem vestibulum gravida congue. Nam ac nibh ut sem malesuada vehicula viverra nec mi.
		</p>
		<p>
			Donec vestibulum semper dolor. Pellentesque ac auctor erat. Mauris vitae purus et ex pulvinar pretium non a lorem. Phasellus ut vestibulum lorem. Pellentesque vel erat odio. Pellentesque sed mi ut ex ultricies tempus. Donec posuere metus et mi lobortis cursus. Morbi vulputate molestie laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Ut augue lacus, faucibus sed tortor vitae, fringilla cursus ex. Maecenas commodo et urna eget efficitur. Vivamus venenatis diam sed arcu ullamcorper, tincidunt pulvinar erat interdum. Nam sapien urna, iaculis at orci a, varius dapibus elit. In tellus sem, tempus rutrum blandit in, molestie eu orci. Fusce commodo nisl tortor, convallis rhoncus nisi pulvinar pharetra.
		</p>
	</div>
</div>
